---
import Layout from "../layouts/Layout.astro";
import MoneyCard from "../components/MoneyCard.astro";
import Table from "../components/Table.astro";
import Header from "../components/Header.astro";
import type { Bank } from "../models/bank";
import {
  getUserBanks,
  type DefaultResponse,
} from "../controllers/userController";

if (!Astro.cookies.has("token")) {
  return Astro.redirect("/login");
}

//TODO: get from user
const dummyData = [
  {
    id: "423",
    date: "21/02/2023",
    type: "Debit",
    description: "MTA - NY transit fare 110th st",
    amount: -2.9,
    balance: 3034.09,
  },
  {
    id: "424",
    date: "20/02/2023",
    type: "Debit",
    description: "MTA - NY transit fare 110th st",
    amount: -2.9,
    balance: 3036.99,
  },
];

let banks: Bank[] = [];
let error: string = "";

try {
  const token = Astro.cookies.get("token")?.value;
  const response = await getUserBanks(token || "");
  const decoded = (await response.json()) as DefaultResponse;

  if (decoded.status === 401) {
    console.log("DELTE TOKEN");
    return Astro.redirect("/logout");
  }

  if (decoded.message === "error") {
    console.error(decoded.data);
    error = decoded.data;
  }

  if (decoded.message === "success") {
    banks = decoded.data;
  }
} catch (error) {
  if (error instanceof Error) {
    console.error(error.message, "ERROR");
  }
}
---

<Layout title="Dashboard | Money moon">
  <Header banks={banks} />
  <div class="flex flex-col items-center gap-16">
    <div class="flex gap-8 justify-center">
      <MoneyCard amount={3034.09} label="Capital One Balance" />
      <MoneyCard amount={822.34} label="Savings" />
      <MoneyCard amount={1340.45} label="Mika Pc" />
    </div>
    <Table data={dummyData} />
  </div>
</Layout>
