---
import Layout from "../layouts/Layout.astro";
import MoneyCard from "../components/MoneyCard.astro";
import Table from "../components/Table.astro";
import Header from "../components/Header.astro";
import type { Bank } from "../models/bank";
import type { Transaction } from "../models/transaction";
import { getUserTransactions } from "../controllers/transactionController";
import {
  getUserBanks,
  type DefaultResponse,
} from "../controllers/userController";

if (!Astro.cookies.has("token")) {
  return Astro.redirect("/login");
}

let banks: Bank[] = [];
let transactions: Transaction[] = [];
let error: string = "";

try {
  const token = Astro.cookies.get("token")?.value;
  const response = await getUserBanks(token || "");
  const decoded = (await response.json()) as DefaultResponse;

  if (decoded.status === 401) {
    return Astro.redirect("/logout");
  }

  if (decoded.message === "error") {
    console.error(decoded.data);
    error = decoded.data;
  }

  if (decoded.message === "success") {
    banks = decoded.data;
  }

  const bankId = banks[0].id; //User will only have 1 bank for now
  const transactionsResponse = await getUserTransactions(token || "", bankId);
  const transactionsDecoded =
    (await transactionsResponse.json()) as DefaultResponse;

  if (transactionsDecoded.status === 401) {
    return Astro.redirect("/logout");
  }

  if (transactionsDecoded.message === "error") {
    console.error(transactionsDecoded.data);
    error = transactionsDecoded.data;
  }

  if (transactionsDecoded.message === "success") {
    transactions = transactionsDecoded.data;
  }
} catch (error) {
  if (error instanceof Error) {
    console.error(error.message, "ERROR");
  }
}
---

<Layout title="Dashboard | Money moon">
  <Header banks={banks} />
  <div class="flex flex-col items-center gap-16">
    <div class="flex gap-8 justify-center">
      <MoneyCard amount={3034.09} label="Capital One Balance" />
      <MoneyCard amount={822.34} label="Savings" />
      <MoneyCard amount={1340.45} label="Mika Pc" />
    </div>
    <Table data={transactions} />
  </div>
</Layout>
