---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Money Moon!">
  <Header isHome={true} />
  <div>LANDING PAGE HERE</div>
</Layout>
