---
import Layout from "../layouts/Layout.astro";

if (!Astro.cookies.has("token")) {
  return Astro.redirect("/login");
}
---

<Layout title="Welcome to Money Moon!">
  <div>Welcome user</div>
</Layout>
