---
const { login } = Astro.props;
---

<div class="login-card px-32 py-16 inline-block rounded-2xl">
  <div class="flex flex-col items-center">
    <div class="flex gap-8">
      <img src="/logo.svg" alt="Money Moon logo" />
      <h1 class="font-bold font-display text-[64px] text-black">Money Moon</h1>
    </div>
    <h2 class="font-light font-body text-4xl text-black">
      Welcome{login && " Back"}!
    </h2>
  </div>
  <form>
    <div class="my-14">
      <input
        type="email"
        placeholder="Email"
        required
        class="w-full mb-6 py-3 px-6 rounded-lg bg-transparent border border-black placeholder:text-black/75 text-black text-xl font-body"
      />
      {
        !login && (
          <input
            type="text"
            placeholder="Username"
            required
            class="w-full mb-6 py-3 px-6 rounded-lg bg-transparent border border-black placeholder:text-black/75 text-black text-xl font-body"
          />
        )
      }
      <input
        type="password"
        placeholder="Password"
        required
        class="w-full py-3 px-6 rounded-lg bg-transparent border border-black placeholder:text-black/75 text-black text-xl font-body"
      />
    </div>
    <button
      type="submit"
      class="w-full py-2 bg-main rounded-lg font-bold font-display text-[26px] text-white"
      >{login ? "Login" : "Register"}</button
    >
  </form>
  <div class="flex justify-center text-black text-lg font-body mt-2">
    <p>
      {login ? "Don’t have an account yet?" : "Already a member?"}
    </p>
    <a
      href={login ? "/register" : "/login"}
      type="button"
      class="font-bold ml-2 hover:underline">{login ? "Sign up" : "Login"}</a
    >
  </div>
</div>

<style>
  .login-card {
    background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2)
    );
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
  }
</style>
