---
interface Props {
  label: string;
  amount: number;
}

const { label, amount } = Astro.props;
---

<div
  class="bg-black text-white rounded-2xl inline-block cursor-default relative"
>
  <div class="flex flex-col px-16 py-8 items-center">
    <span class="font-display font-bold text-4xl mb-4">
      $ {Math.round(amount * 100) / 100}
    </span>
    <span class="font-body text-xl mb-4">{label}</span>
  </div>
</div>
