---
import { type Bank } from "../models/bank";

export interface Props {
  banks?: Bank[];
  isHome?: boolean;
}

let isLoggedIn = false;

if (Astro.cookies.has("token")) {
  isLoggedIn = true;
}

let { banks, isHome = false } = Astro.props;
---

<header class="px-16 py-4 border-b border-secondary bg-white">
  <nav class="flex justify-between items-center">
      <a href={isHome ? "/" : "/dashboard"} class="flex items-center gap-2">
      <img src="/logo.svg" alt="Money Moon Logo" class="w-10" />
      <h1 class="text-black text-4xl font-display font-bold">Money Moon</h1>
    </a>
    <ul class="flex gap-4 text-black font-body">
      {
        isLoggedIn ? (
          <>
            <li>
		{banks && (
              <label for="banks" class="font-display font-bold">
                Bank:
              </label>
                <select id="banks" class="bg-transparent">
                  {banks.map((bank) => (
                    <option value={bank.id}>{bank.name}</option>
                  ))}
                </select>
              )}
            </li>
	    {isHome ? (
            <li>
              <a href="/dashboard" class="font-display font-bold hover:underline">
                Dashboard
              </a>
            </li>
	    ) : (
            <li>
              <a href="/logout" class="font-display font-bold hover:underline">
                Sign out
              </a>
            </li>
	    )}
          </>
        ) : (
          <>
            <li>
              <a href="/login">Login</a>
            </li>
            <li>
              <a href="/register">Sign Up</a>
            </li>
          </>
        )
      }
    </ul>
  </nav>
</header>
