---
let homeNavigation = "/";
let isLoggedIn = false;

if (Astro.cookies.has("token")) {
  homeNavigation = "/dashboard";
  isLoggedIn = true;
}
---

<header class="px-16 py-4 border-b border-secondary bg-white">
  <nav class="flex justify-between items-center">
    <a href={homeNavigation} class="flex items-center gap-2">
      <img src="/logo.svg" alt="Money Moon Logo" class="w-10" />
      <h1 class="text-black text-4xl font-display font-bold">Money Moon</h1>
    </a>
    <ul class="flex gap-4 text-black font-body">
      {
        isLoggedIn ? (
          <>
            <li>
              <span class="font-display font-bold">Bank</span>: Capital One
            </li>
            <li>
              <a href="/logout" class="font-display font-bold hover:underline">
                Sign out
              </a>
            </li>
          </>
        ) : (
          <>
            <li>
              <a href="/login">Login</a>
            </li>
            <li>
              <a href="/register">Sign Up</a>
            </li>
          </>
        )
      }
    </ul>
  </nav>
</header>
