---
import type { Debt } from "../models/debt";

interface Props {
  debt?: Debt;
  label?: string;
  amount?: number;
}

const { debt, label, amount } = Astro.props;
---

<div
  class="transition ease-in-out duration-300 bg-black text-white rounded-2xl inline-block cursor-default relative"
>
  <div class="flex flex-col px-16 py-8 items-center">
    <span class="font-display font-bold text-4xl mb-4">
      $ {debt ? debt!.amount - debt!.payed : amount}
    </span>
    <span class="font-body text-xl mb-4">
      {debt?.name || label}
    </span>
    {
      debt && (
        <>
          <form
            method="POST"
            id="debt-pay-form"
            class="absolute bottom-[-42px] font-body w-full left-0 hidden"
          >
            <input
              type="number"
              name="paymentAmount"
              max={debt.amount - debt.payed}
              placeholder="Enter a value"
              required
              class="bg-black/90 px-4 py-2 rounded-2xl w-full"
            />
            <input type="hidden" name="debtName" value={debt.name} />
          </form>
          <button
            id="debt-pay-option"
            class="bg-success w-[calc(100%-8px)] rounded-2xl font-display font-bold hover:click-pointer hover:opacity-90 absolute bottom-1"
          >
            Pay
          </button>
          <button class="mt-2 me-2 hover:click-pointer absolute top-0 right-0">
            <img
              src="trash-icon.svg"
              alt="Delete Debt Icon"
              class="transition ease-in-out w-6 bg-error rounded-2xl p-1 hover:scale-110"
            />
          </button>
        </>
      )
    }
  </div>
</div>

<script>
  const $debtPayOption = document.getElementById("debt-pay-option");
  const $debtPayForm = document.getElementById("debt-pay-form");

  const handleClickOutsideForm = (event: MouseEvent) => {
    const eventTarget = event.target as Node;
    if (!$debtPayForm?.contains(eventTarget) && eventTarget != $debtPayOption) {
      $debtPayForm?.classList.add("hidden");
    }
  };

  $debtPayOption?.addEventListener("click", () => {
    $debtPayForm?.classList.remove("hidden");
    document.addEventListener("click", handleClickOutsideForm);
  });
</script>
