---
import type { Debt } from "../models/debt";

interface Props {
  debt?: Debt;
}

const { debt } = Astro.props;
---

<dialog
  id="money-card-dialog"
  class="absolute backdrop:bg-black/70 backdrop:backdrop-blur-sm rounded-2xl bg-black overflow-hidden"
>
  <div class="relative text-white py-12 px-24">
    <h1 class="font-bold font-display text-[64px] text-center">
      Update your debt
    </h1>
    <form method="POST" enctype="multipart/form-data">
      <label for="debtName" class="text-white font-display font-bold text-2xl"
        >Name:
      </label>
      <input
        type="text"
        name="debtName"
        class="w-full mb-6 mt-2 py-3 px-6 rounded-lg bg-transparent border border-white placeholder:text-white/75 text-white text-xl font-body"
        placeholder="Debt Name"
        value={debt?.name}
        required
      />
      <label for="debtName" class="text-white font-display font-bold text-2xl"
        >Description:
      </label>
      <input
        type="text"
        name="debtDescription"
        class="w-full mb-6 mt-2 py-3 px-6 rounded-lg bg-transparent border border-white placeholder:text-white/75 text-white text-xl font-body"
        placeholder="Debt Description"
        value={debt?.description}
        required
      />
      <label for="debtName" class="text-white font-display font-bold text-2xl"
        >Amount:
      </label>
      <input
        type="number"
        name="debtAmount"
        min="0.01"
        class="w-full mb-6 mt-2 py-3 px-6 rounded-lg bg-transparent border border-white placeholder:text-white/75 text-white text-xl font-body"
        placeholder="Debt Description"
        value={debt?.amount}
        required
      />
      <button
        type="submit"
        class="w-full mt-6 py-2 bg-main rounded-lg font-bold font-display text-[26px] text-white hover:opacity-75"
        >Update</button
      >
    </form>
    <button
      id="money-card-close"
      type="button"
      class="w-full py-2 bg-white/10 text-white rounded-lg font-bold font-display text-[26px] mt-4 hover:opacity-75"
      >Close</button
    >
  </div>
</dialog>

<script>
  const $moneyCardDialog = document.getElementById(
    "money-card-dialog"
  ) as HTMLDialogElement;
  const $closeButton = document.getElementById("money-card-close");

  $closeButton!.addEventListener("click", () => $moneyCardDialog.close());
</script>
