<form class="mb-4 flex text-lg">
  <input
    type="text"
    placeholder="Search transactions"
    class="w-full border border-black rounded-lg px-4 py-2 font-body text-black"
  />
  <button
    type="submit"
    class="font-display bg-main text-white ms-4 px-4 py-2 rounded-lg hover:opacity-75"
    >Search</button
  >
</form>
